#warper
  #user-panel
    .logo
      = image_tag("logo.png", width: "150px")
      %h1 User events
    .welcome-box
      %p
        = "Welcome <b>#{current_user.title}</b>!".html_safe
        %br/
        = "You login as: <b>#{current_user.email}</b>".html_safe
        %br/
        = link_to "Log out", logout_path
    .events-box
      %p
        = link_to "All events", "#", remote: true, class: "user-events", data: {user: "all"}
        = " | "
        = link_to "My events", "#", remote: true, id: "my-events", class: "user-events", data: {user: current_user.id}
      = label_tag "select-user-events", "Choose user events: "
      = select_tag "select-user-events", options_from_collection_for_select(User.order(:id), "id", "title_with_email"), include_blank: true
      
  %div
    .calendar
  %div{id: "create_event_dialog", class: "dialog", style: "display:none;"}
  %div{id: "event_desc_dialog", class: "dialog", style: "display:none;"}
